/* .container{
    background-color: antiquewhite;
    width: 50%;
    height: 300px;
    margin: auto;
}

label{
    padding-right: 40px;
}

input{
    width: 20%;
} */

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-add {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn-add-disable {
  background-color: darkgrey !important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn-add:hover {
  opacity: 0.8;
}

.container {
  width: 50%;
  margin: auto;
  border: 3px solid #f1f1f1;
  padding: 20px;
}
